body{
    background: #d6d6d6;
}

p{
    text-align: center;
}

.galeria-foto{
    background: #ffffff;
    width: 265px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: solid black;
    float: left;
}

.galeria-video{
    background: #ffffff;
    width: 337px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: solid black;
    float: left;
}




.clear{
    clear: both;
}

